/* Basic reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #f0f0f0;
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding: 100px 0;
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    font-size: 3em;
    color: #00ffcc;
    margin-bottom: 10px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

header p {
    font-size: 1.2em;
    color: #00cccc;
}

header button {
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid #00ffcc;
    color: #00ffcc;
    background: transparent;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

header button:hover {
    color: #121212;
    background-color: #00ffcc;
}

/* Sections */
section {
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    color: #00cccc;
    margin-bottom: 10px;
}

/* Animations */
@keyframes glow {
    from { text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc; }
    to { text-shadow: 0 0 20px #00cccc, 0 0 30px #00cccc, 0 0 40px #00cccc; }
}
